<mat-card>
    <div mat-subheader>
      <h1 *ngIf="category">Update Category</h1>
    </div>
  
    <!-- {{category | json}} -->
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form *ngIf="category" (ngSubmit)="updateform()">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Title</mat-label>
                <input
                
                autofocus
                  type="text"
                  name="title"
                  [(ngModel)]="category.title"
                  matInput
                  placeholder="Enter here"
                />
              </mat-form-field>
  
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea
                
                  name="description"
                  matInput
                  [(ngModel)]="category.description"
                  placeholder="Enter Category Description"
                  rows="10"
                ></textarea>
  
               
              </mat-form-field>
              <div class="container text-center mt15">
                  <button mat-raised-button color="primary" type="submit" >Update</button>
                  <button mat-raised-button color="accent" type="reset" class="ml20">Clear</button>
              </div>
            </form>
            <form *ngIf="!category">
              <mat-card-header>
               <mat-card-subtitle>
                  <h1>Your Category has been updated Successfully !!.</h1>
               </mat-card-subtitle>
              </mat-card-header>
           </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  