<!-- 
<mat-card class="mt20">
  <h1>Profile Details</h1>
 

    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img
            src="{{ login.getUser().profile }}"
            class="profile-image"
            alt=""
          />
         
          <h1 class="mt20">
            {{ login.getUser().firstName }} {{ login.getUser().lastName }}
          </h1>
        
          <mat-card-content>
            <div class="bootstrap-wrapper">
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <form *ngIf="user" (ngSubmit)="update()">

 firstname 
<mat-form-field class="w100" appearance="fill">
    <mat-label>FirstName</mat-label>
    <input
    
    autofocus
      type="text"
      name="title"
      [(ngModel)]="user.firstName"
      matInput
      placeholder="Enter FirstName here"
    />
  </mat-form-field>

   lastname -->
  <!-- <mat-form-field class="w100" appearance="fill">
    <mat-label>LastName</mat-label>
    <input
    
    autofocus
      type="text"
      name="title"
      [(ngModel)]="user.lastName"
      matInput
      placeholder="Enter LastName here"
    />
  </mat-form-field> -->

  <!-- username -->

                    <!-- <mat-form-field class="w100" appearance="fill">
                      <mat-label>Username</mat-label>
                      <input
                      
                      autofocus
                        type="text"
                        name="username"
                        [(ngModel)]="user.username"
                        matInput
                        placeholder="Enter Username here"
                      />
                    </mat-form-field>


                    email -->
                    <!-- <mat-form-field class="w100" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input
                        
                        autofocus
                          type="email"
                          name="email"
                          [(ngModel)]="user.email"
                          matInput
                          placeholder="Enter Email here"
                        />
                      </mat-form-field> -->

                      <!-- phone -->
                      <!-- <mat-form-field class="w100" appearance="fill">
                        <mat-label>Mobile No:</mat-label>
                        <input
                        
                        autofocus
                          type="text"
                          name="phone"
                          [(ngModel)]="user.phone"
                          matInput
                          placeholder="Enter Mobile No. here"
                        />
                      </mat-form-field> -->

                      <!-- image url -->
                      <!-- <mat-form-field class="w100" appearance="fill">
                        <mat-label>Image URL</mat-label>
                        <input
                        
                        autofocus
                          type="text"
                          name="profile"
                          [(ngModel)]="user.profile"
                          matInput
                          placeholder="Enter Image URL here"
                        />
                      </mat-form-field> -->
        
                      <!-- active status -->
                      <!-- <mat-form-field class="w100" appearance="fill">
                        <mat-label>Active Status</mat-label>
                        <input
                        
                        autofocus
                          type="text"
                          name="title"
                          [(ngModel)]="user.enabled"
                          matInput
                          disabled
                         
                        />
                      </mat-form-field>
                    
                    <div class="container text-center mt15">
                        <button mat-raised-button color="primary" type="submit" >Update</button>
                        <button mat-raised-button color="accent" type="reset" class="ml20">Clear</button>
                    </div>
                  </form>
                  <form *ngIf="!user">
                    <mat-card-header>
                     <mat-card-subtitle>
                        <h1>Your Category has been updated Successfully !!.</h1>
                     </mat-card-subtitle>
                    </mat-card-header>
                 </form>
                </div>
              </div>
            </div>
          </mat-card-content> --> 


<!-- {{ user | json }}  -->
